#root {
  max-width: 1280px; /* limita el ancho máximo del contenido */
  margin: 0 auto;  /* centra el contenido horizontalmente */
  padding: 2rem; /* agrega espacio alrededor del contenido */
  text-align: center; /* centra el texto */
}

.logo {
  height: 6em; /* altura del logo */
  padding: 1.5em; /* espacio alrededor del logo */
  will-change: filter; /* indica que la propiedad filter cambiará */
  transition: filter 300ms; /* transición suave para el filtro */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* sombra al pasar el cursor */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* sombra específica para el logo de React */
}

@keyframes logo-spin { /* animación de rotación del logo */
  from {
    transform: rotate(0deg); /* inicio de la rotación */
  }
  to {
    transform: rotate(360deg); /* fin de la rotación */
  }
}

@media (prefers-reduced-motion: no-preference) { /* si el usuario no prefiere reducir el movimiento */
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}
